@charset "UTF-8";
/*CSS Document*/

body {
  background-color: #da291c;
  font-family: Helvatica, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  color: #333;
}

p {
  font-family: 'Work Sans', sans-serif;
  margin: 40px 20px 10px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #333;
  text-align: left;
}

.hidden {
  display:none;
}

#wrapper {

  margin: 0;
  text-align: center;
}

.nav {
  list-style-type: none;
  font-family: /*"Veneer",*/'Bahiana', cursive, sans-serif; arial, sans-serif;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.nav li a {
  display: block;
  font-family: 'Bahiana', cursive, san-serif;
  font-size: 50px;
  color: white;
  padding: 20px 16px;
  text-decoration: none;
}

h2 {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 70px;
  justify-content: left;
}

.containerTitle {
  margin: 0;
  height: 70px;
  width: 1070px;
  padding-left: 10px;
  text-align: left;
  display: inline-block;
  flex-wrap: wrap;
  background-color:#da291c;
  color: white;
}

/* Main Nav */
#heroImg {
  background-image: url('../images/redStripe_LockUp.jpg');
  width: 100%;
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#navContainer {

  position: absolute;
  margin: 0;
}

#mainNav {
	margin: 0;
  padding: 40px;
  list-style: none;
}

.nav {
  text-align: center;
  margin: 0 auto;
  display: flex;
  width: 772px;
  height: 85px;
}
/* End Main Nav */

/* Start Footer */
#mainFooter {
	font-size: 14px;
	margin-top: 40px;
	margin-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
}

#footerNav {
	width: 500px;
}

#copyRight {
	margin-left: auto;
	width: 310px;
}
/*#footer {
  width: 100%;
  height: 150px;
  margin: 0;
  display: inline-block;
	background-image:linear-gradient(#da291c, #b02318, #861108);
}

#footerNav {
  text-align: left;
  margin: 0 auto;
  padding: 20px 10px;
  list-style: row;
  display: inline-block;
  
}

#footerNav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#footer li {
  float: left;
  }


#footerNav li a {
  font-size: 30px;
  padding: 14px 16px;
  text-decoration: none;
  flex-direction: row;
  justify-content: flex-start;
}*/


/* End Footer */

/* Start Main Content for Index */
.mainContainer {
  margin: 0;
  max-width: 1100px;
  height: 1160px;
  text-align: left;
  display: inline-block;
  flex-wrap: wrap;
  background-color:whitesmoke;
}
/* End Main Content */

/* Start Promo Images Beer page */
.promoImg {
  width: 650px;
  height:500px;
  margin: 10px 30px 10px 10px;
  text-align: left;
  display: inline-block;
  background-color: whitesmoke;
}

.beerImg {
  padding: 20px 25px 20px 10px;
  display: inline-block;
  float: left;
}

.beerInfo {
  padding: 5px;
  text-align: left;
}

.first-cap::first-letter {
	font-size: 2em;
	float: left;
	margin-top: 0;
}
/* End Promo Images */

/* Start Events Page */

.events {
  width: 1100px;
  min-height: 350px;
  margin: 0px 30px 10px 10px;
  font-family: 'Playfair Display', serif;
  text-align: left;
  border-bottom: 1px solid, rgb(196, 188, 188);
  display: inline-block;
  background-color: whitesmoke;
}

.imgRight {
	width: 30%;
	float: right;
  padding: 20px 20px 10px 20px;
  margin-top: 30px;
}

/* End events page */

