@charset "UTF-8";
/*CSS Document*/

body {
  background-color: #e82e22;
  font-family: Helvatica, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  color: #333;
}

h2 {
  margin: 5px 300px 20px 5px;
  font-family: 'Cabin Condensed', sans-serif, arial;
  font-size: 70px;
  text-align: left;
  text-shadow: 1px 1px 2px ;
  justify-content: flex-start;
}

p {
  font-family: 'Work Sans', sans-serif, arial;
  margin: 20px 30px 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #333;
  text-align: left;
}

p.thick {
  font-weight: bold;
  font-size: 20px;
}
p.thickCenter {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

p.center {
  text-align: center;
}
.first-cap::first-letter {
	font-size: 2em;
	float: left;
  margin-top: 0;
}

.hidden {
  display:none;
}

#wrapper {

  margin: 0;
  text-align: center;
}

.nav {
  list-style-type: none;
  font-family: 'Bahiana', cursive, sans-serif; arial, sans-serif;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.nav li a {
  display: block;
  font-family: 'Bahiana', cursive, san-serif;
  font-size: 70px;
  color: white;
  text-shadow: 2px 2px 3px black;
  padding: 20px 16px;
  text-decoration: none;
}

.containerTitle {
  margin: 0;
  height: 70px;
  width: 1346px;
  padding-left: 10px;
  justify-content: flex-start;
  display: inline-block;
  flex-wrap: wrap;
  color: white;
}

/* Main Nav */
#heroImg {
  background-image: url('../images/redStripe_LockUp.png');
  width: 100%;
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}



#mainNav {
	margin: 0;
  padding: 40px;
  list-style: none;
}

.nav {
  text-align: center;
  margin: 0 auto;
  display: flex;
  width: 772px;
  height: 85px;
}
.nav li a:hover {
  border-top: 2px solid black;
}
/* End Main Nav */

/* Start Footer */
#mainFooter {
  font-family: 'Work Sans', sans-serif; 
	font-size: 14px;
	margin: 0;
	display: flex;
	flex-direction: row;
  justify-content: flex-start;
  background-image:linear-gradient(#e82e22, #b02318, #861108);
}

#footerNav {
	width: 500px;
}

#copyRight {
  margin-left: auto;
  text-align: left;
	width: 340px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: ;
}

li {
  float: left;
  }

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 15px 5px;
  text-decoration: none;
}

li a:hover {
  border-bottom: 2px solid black;
}
/* End Footer */

/* Start Main Content for Index */
.mainContainer {
  margin: 0;
  max-width: 1346px;
  height: auto;
  text-align: left;
  display: inline-block;
  flex-wrap: wrap;
  background-color:whitesmoke;
  padding: 10px;
  box-shadow: 4px 12px 8px #861108;
}

.indexAboutContainer {
  margin: 0;
  padding: 15px 15px 15px 15px:
  max-width: 1346px;
  height: auto;
  justify-content: center;
  display: block;
  flex-wrap: wrap;
  background-color: whitesmoke;
  border-bottom: 1px solid #333;
}
/* End Main Content */

/* Start Beer page */
.imgEventContainer {
  margin: 0;
  padding: 15px 15px 15px 15px:
  max-width: 1346px;
  height: auto;
  justify-content: center;
  display:inline-block;
  flex-wrap: wrap;
  background-color: whitesmoke;
}

.promoImg {
  width: 650px;
  height:500px;
  margin: 0;
  text-align: center;
  display: inline-block;
  background-color: whitesmoke;
  border-bottom: 1px solid #333;
}

.beerImg {
  padding: 20px 25px 20px 10px;
  display: inline-block;
  float: left;
}

.beerInfo {
  padding: 5px;
  text-align: left;
}
/* End Promo Images */

/* Start Events Page */
.beerContainer {
  margin: 0;
  max-width: 1346px;
  height: auto;
  text-align: left;
  display: inline-block;
  flex-wrap: wrap;
  background-color:whitesmoke;
  border: 1px solid whitesmoke;
  padding: 10px;
  box-shadow: 4px 12px 8px #861108;
} 

.events {
  max-width: 1346px;
  min-height: 350px;
  margin: 0;
  padding: 0px 30px 10px 10px;
  font-family: 'Playfair Display', serif;
  text-align: left;
  border-bottom: 1px solid #333;
  display: block;
  background-color: whitesmoke;
}

.imgRight {
	width: 30%;
	float: right;
  padding: 20px 30px 10px 20px;
  margin-top: 30px;
}

#floatRight {
	height:50%;
  float: right;
  align-items: flex-end;
  padding: 20px 30px 10px 20px;
  margin-top: 0 auto;
}

.imgLeft {
	width: 20%;
	float: left;
  padding: 20px 30px 10px 20px;
}

.imgCenter {
  width: 40%;
  margin: 0 auto;
  display: flex;
	justify-content: center;
  padding: 10px 20px;
}
/* End events page */

/* Start Contact Page */
.contactContainer {
  margin: 0;
  width: 1346px;
  height: auto;
  justify-content: center;
  display: inline-block;
  background-color:whitesmoke;
  padding: 10px;
  box-shadow: 4px 12px 8px #861108;
}

#comments {
	width: 360px;
	height: 200px;
}

#contactText {
	font-size: 14px;
  margin: 20px;
  
	
}
#formBox {
  display: inline-block;
  flex-flow: row nowrap;
  width: 30%;

}

label, input, textarea {
  font-family: 'Work Sans', sans-serif, arial;
  display: flex;
  flex-flow: row nowrap;
  margin: 5px;
  padding: 5px;
}

input, textarea {
  box-shadow: 4px 8px 6px rgb(204, 204, 204);
}

/* End Contact Page */

/* Start Animation */

div#move {
  width: 500px;
  position: relative;
  animation: move 7s ease-in-out 1s infinite alternate backwards;
}

@keyframes move {
  0% {
      left: 45%;
      top: 330px;
  }
  
  50% {
      left: 71%;
      top: 330px;
  }

     100% {
      left: 45%;
      top: 330px;
  }
}

div#Cap {
  margin: 2px;
  width: 75px;
  height: 75px;
  display: inline-block;
  background-image: url(../images/TucksCap.svg);
  animation: Cap 2s infinite ease-in-out alternate-reverse;

}

@keyframes Cap {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg);}
}
/* End Animation */
